<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../assets/css/aui.css" />
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>登录</title>
	</head>

	<body>
		<div class="aui-content aui-margin-b-15" style="padding: 50% 0px;">
	        <ul class="aui-list aui-form-list">
	        	<div class="aui-row" style="color: #00bcd4;text-align: center;font-size: 30px;">
	        		登录
	        	</div>
	            <li class="aui-list-item" style="padding: 0px 10px;">
	                <div class="aui-list-item-inner">
	                    <div class="aui-list-item-label-icon">
	                        <i class="aui-iconfont aui-icon-mobile"></i>
	                    </div>
	                    <div class="aui-list-item-input">
	                        <input type="text" placeholder="username">
	                    </div>
	                </div>
	            </li>
	            <li class="aui-list-item" style="padding: 0px 10px;">
	                <div class="aui-list-item-inner">
	                    <div class="aui-list-item-label-icon">
	                        <i class="aui-iconfont aui-icon-lock"></i>
	                    </div>
	                    <div class="aui-list-item-input">
	                        <input type="password" placeholder="password">
	                    </div>
	                    <div class="aui-list-item-label-icon">
	                        <i class="aui-iconfont aui-icon-display"></i>
	                    </div>
	                </div>
	            </li>
	           <li class="aui-list-item" style="padding: 20px 30px;">
	            	<div class="aui-btn aui-btn-primary aui-btn-block aui-btn-outlined aui-btn-sm">登录(primary)</div>
	            </li>
	        </ul>
	    </div>
	</body>

</html>